# --- Build & Dependency ---
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# --- Application Secrets (MUST) ---
application.yml
application-*.yml
.env

# --- Docker Data (MUST) ---
postgres_data/

# --- IDEs ---
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/
.classpath
.project
.settings/
bin/

# --- OS Specific ---
.DS_Store
Thumbs.db

# --- Logs ---
*.log
logs/